<!doctype html>
<html data-ng-app>
    <head>
        <meta charset="utf-8">
        <title>Tercer ejemplo de AngularJS: Filtros</title>
    </head>

    <body data-ng-init="clientes=[{'nombre':'Fran'},{'nombre':'Sergio'},{'nombre':'Arnulfo'}]">
        <!-- Campo de texto para introducir nombre del cliente -->
        Escribe el nombre del cliente aquí:
        <br/>
        <input type="text" data-ng-model="cosa" />
		<input type="checkbox" name="cbx" data-ng-model="cos" />

        <div class="container">

            <h3>Listado de clientes</h3>
            <ul>
                <li data-ng-repeat="cli in clientes | filter: cosa : cos  | orderBy : 'nombre'">
					{{ cli.nombre }}
				</li>
            </ul>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script>
	
		
		</script>
    </body>
</html>
